.title{
    text-align: center;
    font-family: "bangers", san-serif;
}
.title h1{
    font-size: 100px;
    color: #E93C16;
}
ul{
    list-style: none;
}
.container{
    background-color: #FBDCB5;
    border-radius: 10px;
}
.image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
    border: 2px solid #FCBA20;
    margin-top: 5px;
    margin-bottom: 5px;
}
.buttonDiv{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}
.modal-title{
    font-family: "bangers", san-serif;
    color: #E93C16;
    
}
.modal-body{
    background-color: #FBDCB5;
}
.modal-header{
    background-color: #FCBA20;
}
.sub{
    background-color: #FCBA20;
    color: #E93C16;
}